* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
body h1 {
  text-align:center;
  margin-top:20px;
}

.card {
  width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
}


.searcher {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.searcher input {
  flex: 4; /* 80% width */
  margin-right: 05px;
  height: 40px;
  border-radius: 20px 0 0 20px;
  border: 2px solid #007BFF;
  outline: none;
  padding-left: 15px;
  font-size: large;
  transition: box-shadow 0.3s ease;
}

.searcher input:focus {
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.searcher input::placeholder {
  color: #aaa;
}

.searcher button {
  flex: 1; /* 20% width */
  height: 40px;
  border-radius: 0 20px 20px 0;
  border: 2px solid #007BFF;
  background: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: large;
  transition: background 0.3s ease;
}

.searcher button:hover {
  background: #0056b3;
}

.weather-info {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp {
  font-size: 64px;
  color: rgb(0, 0, 0);
  margin: 20px 0;
}

.card-header {
  color: rgb(0, 0, 0);
  font-size: x-large;
}

.temp-scale {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted rgb(10, 10, 10);
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
  margin: 50px auto;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #FF3D00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(-360deg);
  }
}

.location{
  cursor: pointer;
}

.error{
  color: red;
}